@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ebebeb;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a142d;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

h1 {
  @apply text-3xl;
}

h2 {
  @apply text-2xl;
}

h3 {
  @apply text-xl;
}

.btn1 {
  @apply bg-sky-900 rounded-full text-white px-8 py-2 hover:bg-sky-950 dark:bg-sky-100 dark:text-sky-900 dark:hover:bg-sky-200 text-lg;
}

.btn2 {
  @apply bg-sky-200 hover:bg-sky-300 rounded-full px-8 py-2 dark:bg-sky-900 dark:text-sky-100 dark:hover:bg-sky-950 text-lg;
}

a {
  @apply text-sky-900 dark:text-sky-300 hover:underline w-max;
}
